* {
  @include box-sizing(border-box);
  font-family: 'DroidSans';
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 1.5em;
  padding: 0 1em;
}

p {
  @extend .title;
  margin: 1em auto;
  font-size: 14px;
}
